nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
.card {
  box-shadow: 3px 3px 3px grey;
}
.card-text span{
  vertical-align: middle;
}
.card-text i{
  vertical-align: middle;
}