<h2>Usuarios</h2>

<div class="container-fluid">
	<button class="btn btn-sm btn-primary" (click)="traerUsuarios()">Traer Usuarios</button>
</div>

<div *ngIf="usuarios" class="container">
  <div class="row">
    <div class="col-4" *ngFor="let usuario of usuarios" > 
      <div class="card">
        <img src="{{usuario.avatar}}" class="rounded mr-4 card-img-top" alt="{{usuario.first_name}}">
        <div class="card-body">
          <h5 class="card-title">{{usuario.last_name}}, {{usuario.first_name}}</h5>
          <p class="card-text">{{usuario.email}}</p>
        </div>
      </div>
      <br>
    </div>
  </div>

</div>